<style>
  header {
    background-color: hsl(180, 90%, 35%);
    color: #FFFFFF;
  }
  
  nav {
    background-color: hsl(180, 80%, 25%);
    display: inline;
    margin-right: 20px;
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }
  
  h1 {
    text-indent: 10px;
    padding-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}
  
  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* add your code below this line */
    
    grid-column-gap: 20px;
    /* add your code above this line */
  }  
</style>
