<style>
  header {
    background-color: hsl(180, 90%, 35%);
    color: #FFFFFF;
  }
  
  nav {
    background-color: hsl(180, 80%, 25%);
    display: inline;
    margin-right: 20px;
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }
  
  h1 {
    text-indent: 10px;
    padding-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
